{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Machines{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('machine.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for machine in machines %}
    <article class="post">
      <header>
        <div>
          <h1>{{ machine['ip'] }}</h1>
          <div class="about">by {{ machine['username'] }} on {{ machine['host'] }}</div>
        </div>
        {% if g.user['id'] == machine['owner_id'] %}
          <a class="action" href="{{ url_for('machine.update', id=machine['id']) }}">Edit</a>
        {% endif %}
      </header>
      <p class="body">{{ post['body'] }}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
